.button {
  padding: 1em 2em;
  background-color: var(--gray-10);
  color: var(--white);
  outline: 0;
  border: 0;
  cursor: pointer;

  &:active {
    transform-origin: 50% 50%;
    transform: scale(0.99);
  }

  &--success {
    background-color: var(--color-success);
  }

  &--warning {
    background-color: var(--color-warning);
  }

  &--danger {
    background-color: var(--color-accent);
  }
}