.list-vote {
  display: grid;
  grid-column-gap: var(--space-lg);
  grid-row-gap: var(--space-lg);
  grid-template-columns: auto;
  @include breakpoint(xs) {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: var(--space-sm)
  }
  @include breakpoint(sm) {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: var(--space-sm)
  }
  @include breakpoint(md) {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    padding: var(--space-xl);
  }
}