.section-name {
  padding: var(--space-xl) var(--space-lg);
  background-color: var(--white);
  margin-bottom: var(--space-lg);
  @include breakpoint(xs) {
    padding: var(--space-lg) var(--space-lg);
  }
  h1 {
    text-transform: uppercase;
    font-weight: normal;
    @include breakpoint(xs) {
      font-size: var(--text-lg) !important;
    }
    @include breakpoint(sm) {
      font-size: var(--text-xxl) !important;
    }
    @include breakpoint(md) {
      font-size: var(--text-xxxl) !important;
    }
  }
}